tr td:first-child {
	width: 20%;
	background-color: #e5f0ff;
}
tr.major-separator td {
	background-color: #4d94ff;
	font-size: 1.7em;
	color: #fff;
}
tr.minor-separator td {
	background-color: #80b3ff;
	font-size: 1.2em;
	color: #fff;
}
tr.tiny-separator td {
	background-color: #b3d1ff;
	color: #fff;
}

.fixed {
	table-layout: fixed;
}
.fixed td {
	word-wrap: break-word;
}

.quickview div {
	font-size: 1.2em;
	text-align: center;
}
