tr td:first-child {
	width: 20%;
	background-color: #e5f0ff;
}
tr td:first-child > p {
	margin: 0;
	line-height:1em;
}

tr td > span.glyphicon {
	margin-right: 4px;
}

tr td > span.media-details {
	font-size: .75em;
}

tr td > img {
	margin: 10px;
}

tr.major-separator td {
	background-color: #4d94ff;
	font-size: 1.7em;
	color: #fff;
}
tr.minor-separator td {
	background-color: #80b3ff;
	font-size: 1.2em;
	color: #fff;
}
tr.tiny-separator td {
	background-color: #b3d1ff;
	color: #fff;
}

.fixed {
	table-layout: fixed;
}
.fixed td {
	word-wrap: break-word;
}

.quickview div {
	font-size: 1.2em;
	text-align: center;
}
.quickview div {
	font-size: 1.2em;
	text-align: center;
}

@media (min-width: 992px) {
	.col-md-2 {
	    width: 20.0%;
	}
}

