tr td:first-child {
	width: 20%;
	background-color: #eee;
}

tr.separator td {
	background-color: #ccc;
}
.fixed {
	table-layout: fixed;
}
.fixed td {
	word-wrap: break-word;
}
tr.mid-separator td:first-child {
	background-color: #ff8080;
}